*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: "Courier New", Courier, monospace;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #5f97c5;
    --body-font-color: black;
}

html {
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}

body{
    margin: 0;
    height: 100vh;
    font-size: 3em;
    font-family: 'Cabin', sans-serif;
    background-color: #000000;
    color: #333333;
    
}

a {
    text-decoration: none;
    cursor: pointer;
}


section {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.main-content {
    height: 100%;
    padding: 2%;
}

/* HERO SECTION */
#hero{
    height: 100vh;
    width: 100%;
    background: black;
    background-image: url('../images/smoke2.jpg');
    background-size: 50% 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

.hero-text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero-header{
    color: #9fd1e5;
    opacity: 0;
    animation: fadeDown .5s forwards;
    animation-delay: 1.5s;
}

.hero-subheader{
    color: #2e91b7;
    opacity: 0;
    animation: fadeUp .5s forwards;
    animation-delay: 1.5s;
}

.separator {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 100%; 
    max-width: 8.4rem;
    height: .25rem;
    color: #ffffff;
    background-color: #fff;
    position: relative;
    opacity: 0;
    animation: grow 2s forwards;
    animation-delay: .9s;
}

.line-left::before, .line-right::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: .6rem solid transparent;
    opacity: 0;
    animation: grow .5s forwards;
    animation-delay: 1.2s;
}

.line-left::before {
    left: 0;
    border-left-color: #fff;

}
.line-right::before {
    right: 0;
    border-right-color: #fff;
}

.asterisk {
    font-size: 1.2rem;
    color: var(--secondary-font-color);
    margin: 0 1.6rem;
    animation: spinL 1.5s forwards;
    animation-delay: .5s;
}

.btn-dark {
    padding: 1em 2em;
    text-transform: uppercase;
    background-color: #000000;
    border: 2px solid var(--secondary-font-color);
    color: var(--secondary-font-color);
    font-weight: bold;
    text-transform: uppercase;
}
.btn-dark:hover{
    cursor: pointer;
    background-color: var(--secondary-font-color);
    color: #000000;
    transition: all .4s ease;   
}

.fa-arrow-circle-down {
    margin-top: 2em;
    background: transparent;
    width: 2em;
    color: #2e91b7;
    animation: spinR 1.5s forwards;
    animation-delay: .5s;
}
.fa-arrow-circle-down:hover {
    color: #9fd1e5;
    transition: all .4s ease;
}
/* END HERO SECTION */

/* ABOUT ME SECTION */
.about-me{
    height: 100%;
    background-color: #ffffff;
    padding-bottom: 2em;
    /* font-size: .5em; */
}

nav {
    /* font-size: .5em; */
    width: 100%;
    background-color: var(--secondary-font-color);
}

nav ul{
    list-style: none;
    display: flex;
}

nav li {
    padding: .5em .6em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .5em;
}

nav a {
    color: #333333;
}

nav a:hover{
    color: #ffffff;
    transform: scale(1.1);
    transition: all .4s ease;
}

nav .current {
    background-color: #ffffff;
}
nav .current a:hover {
    color: var(--secondary-font-color);
    transform: scale(1);
    transition: all .4s ease;
}

.about-text{
    height: 80%;
    width: 80%;
    margin: 2em auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.about-header{
    color: var(--secondary-font-color);
    font-weight: bold;
    text-transform: uppercase;
}

.about-p{
    font-size: .5em;
    line-height: 2em;
    margin: 2em 0;
}

.btn {
    padding: 1em 2em;
    text-transform: uppercase;
    background-color: #ffffff;
    border: 2px solid #000000;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

.btn:hover {
    color: var(--secondary-font-color);
    border: 2px solid var(--secondary-font-color);
    transition: all .4s ease;
    cursor: pointer;
}
/* END ABOUT ME SECTION */

/* SKILLS SECTION */
.skills {
    padding: 2em 1em;
    height: 100%;
    width: 100%;
    background-image: url('../images/smoke4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.skills h1{
    margin-bottom: 2em;
    text-align: center;
    color: #ffffff;
}

.skill-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.skill-card {
    padding: 1em;
    height: 12em;
    width: 10em;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 5px 6px rgba(93,164,240,1);
    -moz-box-shadow: 0px 0px 5px 6px rgba(93,164,240,1);
    box-shadow: 0px 0px 5px 6px rgba(93,164,240,1);
}
.skill-card:hover {
    -webkit-box-shadow: 0px 0px 5px 6px rgb(193, 193, 194);
    -moz-box-shadow: 0px 0px 5px 6px rgba(193, 193, 194);
    box-shadow: 0px 0px 5px 6px rgba(193, 193, 194);
    /* position: absolute; */
    /* margin: 0 3em; */
    transform: scale(1.3);
    transition: .4s ease;
}

.card-header {
    margin-bottom: 1em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-font-color);
    border-bottom: 2px solid var(--secondary-font-color);
}
.card-header .fas {
    margin: 0 .4em;
    color: #c55f7e;
}

.skill-list ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.skill-list li {
    padding: .2em 0;
    font-size: .5em;
}
/* END SKILLS SECTION */

.projects {
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: #ffffff;
}

.projects h1 {
    margin-bottom: 2em;
    color: var(--secondary-font-color);
    text-transform: uppercase;
}

.projects-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
    background-color: #e6e6e6;
}

.project {
    padding: 1em;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project h3{
    margin-bottom: .5em;
}
.project img {
    margin: .5em 0;
    width: 70%;
}
.project img:hover {
    transform: scale(1.1);
    transition: .4s ease;
}
.project p {
    margin: 1em 0;
    line-height: 2em;
    font-size: .5em;
    text-align: justify;
}
.project-links{
    margin-top: .5em;
}
/* END PROJECTS SECTION */

/* CONTACT SECTION */
.contact {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact h1 {
    color: var(--secondary-font-color);
    text-transform: uppercase;
}

.contact-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contact-form{
    padding: 3em 1em;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-group {
    margin: 1em 0;
    height: 3em;
    width: 100%;
    font-size: .5em;
    position: relative;
    overflow: hidden;
}


.form-group input{
    padding-top: 1em;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}


.form-group label{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 2px solid #333333;
    font-weight: bold;
}

.form-group label::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -2px;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid var(--secondary-font-color);
    transform: translateX(-100%);
}

.content-name{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all .4s ease;
}

.form-group input:focus + .label-name .content-name, 
.form-group input:valid + .label-name .content-name
{
    transform: translateY(-140%);
    color: var(--secondary-font-color);
}

.form-group input:focus + .label-name::after, 
.form-group input:valid + .label-name::after{
    transform: translateX(0);
    transition: all .3s ease;
}

.submit{
    margin-top: 1em;
}

.contact-links{
    width: 50%;
    font-size: .5em;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

.email-label{
    font-weight: bold;
}

.contact-links .fab{
    font-size: 2em;
    margin: 1em;
    color: #333333;
}
.contact-links a{
    color: #333333;
}

.contact-links .fab:hover,
.contact-links a:hover{
    color: var(--secondary-font-color);
    transition: .4s ease;
}

.contact-links p{
    color: var(--secondary-font-color);
    font-weight: bold;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1000px) {
    body{
        font-size: 3em;
    }
}

@media screen and (max-width: 700px) {
    .projects-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-content{
        flex-direction: column;
    }

    .contact-form {
        width: 100%;
    }
}


/* ANIMATIONS */
@keyframes fadeUp {
    0%{
        transform: translateY(4rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeDown {
    0%{
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes grow {
    0%{
        width: 0;
    }
    100%{
        opacity: 1;
        width: 100%;
    }
}

@keyframes spinL {
    0%{
        transform: rotate(0);
    }
    100%{
        opacity: 1;
        transform: rotate(-360deg);
    }
}
@keyframes spinR {
    0%{
        transform: rotate(0);
    }
    100%{
        opacity: 1;
        transform: rotate(360deg);
    }
}